<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posca ~ Viví la experiencia</title>

    <link rel="icon" type="image" href="../img/favipos.png"/>


    <link rel="stylesheet" href="../assets/css/archivo.css" type="text/css">

    
    
	<!-- RRSS Footer -->

 
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">





    <!--googleFont-->

    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">


</head>




<body>

    <div id="contenedor">

                <header>

                    <div id="logo01"> <a href="../index.html">
                    <img src="../img/logo02.png" alt=""></a>
                    </div>


                    <nav>
                        <ul class="menu">
                            <li class="menuItem01"><a class="nav-link" href="../index.html">Home</a></li>
                            <li class="menuItem02"><a class="nav-link" href="../views/evento.html">Evento</a></li>
                            <li class="menuItem03 active"><a class="nav-link" href="../views/comu.html">Comuninades</a></li>
                            <li class="menuItem04"><a class="nav-link" href="../views/novedades.html">Novedades</a></li>
                            <li class="menuItem05"><a class="nav-link" href="../views/contacto.html">Contacto</a></li>
                        </ul>
                    </nav>
                

                </header>

    

                <main id="comuMin">

                </main>      

        <div id="bkgComu">        
                
            <section id="primeraComu">   
            
                <div id="streetArtTittle">
                    <h3> Street Art</h3>
                </div>
                <div id="streetArtText">
                    <p>El término street art (o arte callejero) surgió para distinguir el «arte público contemporáneo» (fresco, mosaico, light-painting, plantilla) del grafiti territorial original.  <br>
                    El marcador de pintura POSCA se ha convertido en la herramienta fetiche de los artistas callejeros, atraídos por su facilidad de uso y su gran calidad gráfica.</p>
                </div>

                <div id="comuImg01"><img src="../img/04.png" alt=""></div>

                <div id="boton01Com">
                    <button type="button" id="boton01">
                        <a href="#">Ver más</a>
                    </button>
                </div>



                <div id="graffitiTittle">
                    <h3> Graffiti</h3>
                </div>
                <div id="graffitiText">
                    <p> El grafiti comenzó como una expresión artística de la cultura hip-hop caracterizada por inscripciones en 3D con efectos de óptica y colores. Ya sea como denuncia o simplemente para dejar marca, el grafiti simboliza la libertad de expresión. POSCA se ha ido forjand así una auténtica credibilidad callejera y se ha convertido en la herramienta fetiche de los grafiteros.</p>
                </div>

                
                <div id="comuImg02"><img src="../img/05.png" alt=""></div>


                <div id="boton02Com">
                    <button type="button" id="b01">
                        <a href="./graffiti.html">Ver más</a>
                    </button>
                </div>



                <div id="lifeTittle">
                    <h3>Life Custom</h3>
                </div>
                <div id="lifeText">
                    <p>Históricamente reivindicado por las comunidades de aventureros y aficionados a las experiencias extremas en entornos urbanos o naturales, la customización es un increíble espacio de libertad que permite a todos expresarse libremente junto a su comunidad.</p>
                </div>

                <div id="comuImg03"><img src="../img/06.png" alt=""></div>
            


                <div id="boton03Com">
                    <button type="button" id="b02">
                        <a href="#">Ver más</a>
                    </button>
                </div>


            </section>

            <section id="segundaComu">

                <div id="diseñaTittle">
                    <h3>Diseña y comparte</h3>                    
                </div>

                <div id="subTittle01">
                    <h3>Tejido y textil</h3>
                </div>

                <div id="subTittle02">
                    <h3>Preparación</h3>
                </div>

                <div id="diseñaText">
                    <p>Naturales o sintéticas, las telas y las pieles son materiales esenciales en todas las culturas, principalmente utilizados para ropa, hogar y decoración. Con POSCA podrá personalizar y customizar fácilmente estos objetos que forman parte de nuestra vida cotidiana. Además, si sigue bien las recomendaciones de fijación, podrá disfrutar durante mucho tiempo de sus creaciones.
                    </p>
                    <p>Antes de trabajar sobre un tejido, lávelo en lavadora para quitar la imprimación industrial si es nuevo o la posible suciedad si ya se ha usado. Para pieles como el cuero o el skay, limpie con un paño húmedo y deje secar. Para el ante o la gamuza, pase con cuidado un cepillo de cerdas suaves.</p>
                </div>


                <div id="boton04Com">
                    <button type="button" id="b03">
                        <a href="#">Ver más</a>
                    </button>
                </div>

                

                <div id="disImg01"><img src="../img/07.png" alt=""></div>
                <div id="disImg02"><img src="../img/08.png" alt=""></div>
                <div id="disImg03"><img src="../img/09.png" alt=""></div>

            </section>


            <section id="terceraComu">

                <div id="shareTittle">
                    <h3>Comparte con tu comunidad</h3>                    
                </div>

                <div id="subTittle03">
                    <h3>Street Art</h3>
                </div>

                <div id="subTittle04">
                    <h3>Graffiti</h3>
                </div>

                <div id="subTittle05">
                    <h3>Life Custom</h3>
                </div>

                <div id="disImg04"><img src="../img/010.png" alt=""></div>
                <div id="disImg05"><img src="../img/011.png" alt=""></div>
                <div id="disImg06"><img src="../img/012.png" alt=""></div>

                <section id="botonComu">
                    <div id="boton05Com">
                        <button type="button" id="b01">
                            <a href="#">Share</a>
                        </button>
                    </div>

                    <div id="boton06Com">
                        <button type="button" id="b02">
                            <a href="#">Share</a>
                        </button>
                    </div>

                    <div id="boton07Com">
                        <button type="button" id="b03">
                            <a href="#">Share</a>
                        </button>
                     </div>
               </section>
            
            </section>


        </div>

                <footer>    

                    <div id="posLogoFot">
                        <img src="../img/LOGO - POSCA.png" alt="">
                    </div>

                    <div id="footTitlePos01">
                        <p id="footTittle01"> Evento</p>
                    </div>

                    <div id="footTextPos01">
                        <p id="footText01"><a class="prueba" href="#">Workshop</a> <br><a class="prueba" href="#">Premios</a> <br><a class="prueba" href="#">Artistas invitados</a></p>
                    </div>

                    <div id="footTitlePos02">
                        <p id="footTittle02">Novedades</p>
                    </div>

                    <div id="footTextPos02">
                        <p id="footText02"><a class="prueba" href="#">Noticias</a> <br><a class="prueba" href="#">Tutoriales </a><br><a class="prueba" href="#">Tips</a></p>
                    </div>

                    <div id="footTitlePos03">
                        <p id="footTittle03">Contacto</p>
                    </div>

                    <div id="footTextPos03">
                        <p id="footText03"><a class="prueba" href="https://www.posca.com/arg/" target="_blank">www.posca.com </a><br><a class="prueba" href="#">info@posca.com</a> <br>4545-4545</p>
                    </div>


                    <div id="rrssiconpos">        
                        <ul class="social-network social-circle">
                        <li><a href="https://www.facebook.com/PoscaArg/" target="_blank" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://twitter.com/poscaargentina?lang=es" target="_blank" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://www.instagram.com/poscaargentina/?hl=es-la" target="_blank" class="icoInstagram" title="Instagram"><i class="fa fa-instagram"></i></a></li>
                        </ul>
              
                    </div>



                </footer>


    </div>


</body>
</html>