<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posca ~ Viví la experiencia</title>

    <link rel="icon" type="image" href="../img/favipos.png"/>


    <link rel="stylesheet" href="../assets/css/archivo.css" type="text/css">

    
    
	<!-- RRSS Footer -->

 
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">





    <!--googleFont-->

    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">


</head>




<body>

    <div id="contenedor">

                <header>

                    <div id="logo01"> <a href="../index.html">
                    <img src="../img/logo02.png" alt=""></a>
                    </div>


                    <nav>
                        <ul class="menu">
                            <li class="menuItem01"><a class="nav-link" href="../index.html">Home</a></li>
                            <li class="menuItem02"><a class="nav-link" href="../views/evento.html">Evento</a></li>
                            <li class="menuItem03"><a class="nav-link" href="../views/comu.html">Comuninades</a></li>
                            <li class="menuItem04"><a class="nav-link" href="../views/novedades.html">Novedades</a></li>
                            <li class="menuItem05 active"><a class="nav-link" href="../views/contacto.html">Contacto</a></li>
                        </ul>
                    </nav>
                

                </header>

    

                <main id="contMin">


     
                    


                </main>      

        <div id="bkg">        
                
            <section id="primeraContact">

                
                <div id="contTittle">
                    <h3>¿Cómo llegar?</h3>
                </div>

            </section>   

            <section id="segundaContact">
            
                <div id="contMap">

                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1110.552287097471!2d-57.542102072849296!3d-38.067674593842945!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9584e75773009a85%3A0xff6ef0b7e58d53fd!2sBalneario%2012%20PUNTA%20MOGOTES!5e0!3m2!1ses!2sar!4v1605482519472!5m2!1ses!2sar" width="400" height="400" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
               
                </div>

                <div id="textMap">

                  <br> <p> <b> Balneario Punta Mogotes </b></p>
                   <br> <br>
                   <p>Balneario 12 - Punta Mogotes, B7600 <br> 
                    Mar del Plata <br> 
                     Provincia de Buenos Aires.</p>

                </div>                        
                
            
            </section>

            <section id="terceraContact">

                <div id="contTittle02"> <p>¡Dejanos tu mensaje!</p> </div>

                    <div id="formContact">

                        <form action="">
                            <label for="Nombre">Nombre:</label><br>

                            <input type="text">
                            <br>
                            <br>

                            <label for="email">Email:</label> <br>
                            <input type="email" id="email" name="email"> <br> <br>
                            <textarea  name="consulta" id="" cols="50" rows="13">Mensaje</textarea>
                            <br>
                            <br>
                            <button type="button" onclick="alert('Gracias por dejarnos tu mensaje!')">Enviar</button>

                            <input type="reset" value="Limpiar">
                        </form>

                    </div>


                    <div id="imgContact">

                        <img src="../img/imgCont.png" alt="">

                    </div>

                </div>

            </section>


        

                <footer>    

                    <div id="posLogoFot">
                        <img src="../img/LOGO - POSCA.png" alt="">
                    </div>

                    <div id="footTitlePos01">
                        <p id="footTittle01"> Evento</p>
                    </div>

                    <div id="footTextPos01">
                        <p id="footText01"><a class="prueba" href="#">Workshop</a> <br><a class="prueba" href="#">Premios</a> <br><a class="prueba" href="#">Artistas invitados</a></p>
                    </div>

                    <div id="footTitlePos02">
                        <p id="footTittle02">Novedades</p>
                    </div>

                    <div id="footTextPos02">
                        <p id="footText02"><a class="prueba" href="#">Noticias</a> <br><a class="prueba" href="#">Tutoriales </a><br><a class="prueba" href="#">Tips</a></p>
                    </div>

                    <div id="footTitlePos03">
                        <p id="footTittle03">Contacto</p>
                    </div>

                    <div id="footTextPos03">
                        <p id="footText03"><a class="prueba" href="https://www.posca.com/arg/" target="_blank">www.posca.com </a><br><a class="prueba" href="#">info@posca.com</a> <br>4545-4545</p>
                    </div>


                    <div id="rrssiconpos">        
                        <ul class="social-network social-circle">
                        <li><a href="https://www.facebook.com/PoscaArg/" target="_blank" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://twitter.com/poscaargentina?lang=es" target="_blank" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://www.instagram.com/poscaargentina/?hl=es-la" target="_blank" class="icoInstagram" title="Instagram"><i class="fa fa-instagram"></i></a></li>
                        </ul>
              
                    </div>



                </footer>


    </div>


</body>
</html>