<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posca ~ Viví la experiencia</title>

    <link rel="icon" type="image" href="../img/favipos.png"/>

    

    <link rel="stylesheet" href="../assets/css/archivo.css" type="text/css">


    <script src="app.js" defer></script>
    <script src="https://kit.fontawesome.com/e391ce7786.js" crossorigin="anonymous"></script>
   
    
	<!-- RRSS Footer -->

 
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">





    <!--googleFont-->

    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">


</head>




<body>

    <div id="contenedor">

                <header>

                        <div id="logo01"> <a href="../index.html">
                        <img src="../img/logo02.png" alt=""></a>
                        </div>


                    <nav>
                        <ul class="menu">
                            <li class="menuItem01"><a class="nav-link" href="../index.html">Home</a></li>
                            <li class="menuItem02 active"><a class="nav-link" href="../views/evento.html">Evento</a></li>
                            <li class="menuItem03"><a class="nav-link" href="../views/comu.html">Comuninades</a></li>
                            <li class="menuItem04"><a class="nav-link" href="../views/novedades.html">Novedades</a></li>
                            <li class="menuItem05"><a class="nav-link" href="../views/contacto.html">Contacto</a></li>
                        </ul>
                    </nav>
                

                </header>

    

                <main id="enventMin">               
                 </main>      

        <div id="bkgEvent">        
                
            <section id="primerEvent">

                <div id="tittleEvent01">
                    <h3>Verano Posca</h3>
                </div>
                <div id="textEvent01">
                    <p>Queremos que vivas la <b>Experiencia Posca</b>, en este increíble evento vas a conocer a grandes artistas que estarán representando a sus comunidades. Street Art, Graffiti y Life Custom, todo en un mismo lugar! <br> Inscribite y participá de la competencia Posca donde tendrás que intervenir objetos con diferente temática para ganar grandes premios! <br> <br> <b> Sólo tenés que traer tu creatividad y ganas de divertirte, del resto nos ocupamos nosotros! </b> </p>
                </div>

                <div id="eventImg01"><img src="../img/eve01.png" alt=""></div>

            </section>


            <section id="segundaEvent">

                <div id="tittleEvent02">
                    <h3>¿Cómo se divide la competencia?</h3>
                </div>



                <div id="coluEvent01"> 

                    <div id="cardEvent01"> 
                            <h2>¡Día 1!</h2>
                            <p>El primer día consta de intervenir una gorra o remera con el tema <b>"Animales Salvajes"</b> <br> <br> </p>
                        <div id="eventImg02"><img src="../img/eve02.png" alt=""></div>


                    </div>

                    <div id="cardEvent02"> 
                            <h2>¡Día 2!</h2>
                            <p>En el segundo día tendrás que intervenir un par de zapatillas con el tema <b>"Patrones coloridos"</b> <br> <br></p>
                        <div id="eventImg03"><img src="../img/eve03.png" alt=""></div>

                        
                    </div>

               

                     <div id="cardEvent03"> 
                            <h2>¡Día 3!</h2>
                            <p>El tercer y último día tendrán que intervenir una tabla de surf con el tema <b>"Verano Posca"</b> <br> <br> </p>
                        <div id="eventImg03"><img src="../img/eve04.png" alt=""></div>

                    

                     </div>
                     
                </div>              

            </section>

            <section id="terceraEvent">

                <div id="tittleEvent03">
                    <h3>¿Cuales son los premios?</h3>
                </div>



                <div id="coluEvent01"> 

                    <div id="cardEvent04"> 
                            <h2>¡Primer puesto!</h2>
                            <p><b>$10000 en efectivo + <br> $5000 en productos Posca!</b>  <br> <br> </p>
                        
                    </div>

                    <div id="cardEvent05"> 
                            <h2>¡Segundo puesto!</h2>
                            <p><b> $10000 en productos Posca!</b> <br> <br></p>
                            
                        
                    </div>

               

                     <div id="cardEvent06"> 
                            <h2>¡Tercer puesto!</h2>
                            <p><b> $5000 en productos Posca!</b><br> <br> </p>
                       
                    
                     </div>
                     
                </div>    



            </section>


            <section id="cuartaEvent">

                <div id="tittleEvent04">
                    <h3>Con #VeranoPosca todos pueden ganar!</h3> 
                </div>
                <br>
                <div id="textEvent04">
                    <p>Seguinos en nuestras redes sociales Twiiter e instagram y participá por increíbles premios semanales! <br> <br>
                        Subí tu foto interviniendo algun objeto con <b>#VeranoPosca</b> y al final del día mediante votación, nuestros seguidores seleccionarán al ganador!</p>
                </div>

                <div id="eventImg07">

                    <a class="twitter-timeline" data-width="400" data-height="400" data-theme="light" href="https://twitter.com/poscaargentina?ref_src=twsrc%5Etfw">Tweets by poscaargentina</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

                
                </div>


            </section>


            <section id="quintaEvent">

                    <div id="tittleEvent05">
                        <h3>Artistas invitados</h3>
                    </div>
                
                <div id="invi01">
                    <div id="subtittleEvent05">
                        <p>T KID - 170</p>
                    </div>
                    <div id="textEvent05">
                        <p>Desde el Bronx a Mar del plata, el súper conocido artista de graffti, estará dando de una increíble demostración a puro color! <br> <br> Podrás ver en vivo todo el proceso desde el boceto hasta los detalles finales en #VeranoPosca. <br> También realizará una sesión de firma de autógrafos al finalizar la exhibición. <br> <br> <b>¡No te lo pierdas!</b></p>
                    </div>

                    <div id="imgInviEvent02"><img src="../img/eve08.png" alt=""></div>
                               
                </div>

                              
                              
            
                <div id="invi02">
                    <div id="subtittleEvent06">
                        <p>BEBAR</p>
                    </div>
                    <div id="textEvent06">
                        <p>El segundo día del evento tendremos a Bebar listo para dejar su marca en un gran mural el cual luego se utilizará para mostrar a los ganadores! <br> <br> Podrás acercarte a su demostración donde el público decidirá en el momento el tema a utilizar para pintar el mural donde Bebar mostrará sus grandes habilidades para la pintura y la pintura y  </p>
                    </div>

                    <div id="imgInviEvent02"><img src="../img/eve09.png" alt=""></div>
                </div>

                <div id="invi03">
                    <div id="subtittleEvent07">
                        <p>LUCAS BEAUFORT</p>
                    </div>
                    <div id="textEvent06">
                        <p>Tenemos la suerte de presentar a Lucas quien estará interviniendo objetos que el público le acerque para generar diseños únicos! <br> <br> También realizará una demostración en vidrio y estará trabajando con lo más chicos para que ellos puedan experimentar la pintura en distintos soportes! </p>
                    </div>

                    <div id="imgInviEvent02"><img src="../img/eve010.png" alt=""></div>
                </div>


            </section>






            <section id="sextaEvent">

                <div id="tittleEvent06">
                    <h3>Exhibición de Surf</h3>
                </div>

                <div id="subTittleEvent06">
                    <p>Para cerrar nuestro #VeranoPosca tendremos una gran demostración de destreza sobre la olas de la mano de increíbles surfistas!</p>

                </div>

                <div id="coluSurf01"> 

                    <div id="cardSurf01"> 
                            <h2>Robert Kelly Slater</h2>
                           
                        <div id="eventImg02"><img src="../img/invsurf01.png" alt=""></div>


                    </div>

                    <div id="cardSurf02"> 
                            <h2>Stephanie Gilmore</h2>
                           
                        <div id="eventImg03"><img src="../img/invsurf02.png" alt=""></div>

                        
                    </div>

               

                     <div id="cardSurf03"> 
                            <h2>Aurélien Jacob</h2>
                            
                        <div id="eventImg03"><img src="../img/invsurf03.png" alt=""></div>

                    
                     </div>
                     
                </div>              

            </section>



                <footer>    

                    <div id="posLogoFot">
                        <img src="../img/LOGO - POSCA.png" alt="">
                    </div>

                    <div id="footTitlePos01">
                        <p id="footTittle01"> Evento</p>
                    </div>

                    <div id="footTextPos01">
                        <p id="footText01"><a class="prueba" href="#">Workshop</a> <br><a class="prueba" href="#">Premios</a> <br><a class="prueba" href="#">Artistas invitados</a></p>
                    </div>

                    <div id="footTitlePos02">
                        <p id="footTittle02">Novedades</p>
                    </div>

                    <div id="footTextPos02">
                        <p id="footText02"><a class="prueba" href="#">Noticias</a> <br><a class="prueba" href="#">Tutoriales </a><br><a class="prueba" href="#">Tips</a></p>
                    </div>

                    <div id="footTitlePos03">
                        <p id="footTittle03">Contacto</p>
                    </div>

                    <div id="footTextPos03">
                        <p id="footText03"><a class="prueba" href="https://www.posca.com/arg/" target="_blank">www.posca.com </a><br><a class="prueba" href="#">info@posca.com</a> <br>4545-4545</p>
                    </div>


                    <div id="rrssiconpos">        
                        <ul class="social-network social-circle">
                        <li><a href="https://www.facebook.com/PoscaArg/" target="_blank" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://twitter.com/poscaargentina?lang=es" target="_blank" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://www.instagram.com/poscaargentina/?hl=es-la" target="_blank" class="icoInstagram" title="Instagram"><i class="fa fa-instagram"></i></a></li>
                        </ul>
              
                    </div>



                </footer>


    </div>







<!-- SCRIPTSSS-->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="../assets/js/archivo.js"></script>







</body>
</html>