<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posca ~ Viví la experiencia</title>

    <link rel="icon" type="image" href="../img/favipos.png"/>


    <link rel="stylesheet" href="../assets/css/archivo.css" type="text/css">

    
    
	<!-- RRSS Footer -->

 
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">





    <!--googleFont-->

    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">


</head>




<body>

    <div id="contenedor">

                <header>

                    <div id="logo01"> <a href="../index.html">
                    <img src="../img/logo02.png" alt=""></a>
                    </div>


                    <nav>
                        <ul class="menu">
                            <li class="menuItem01"><a class="nav-link" href="../index.html">Home</a></li>
                            <li class="menuItem02"><a class="nav-link" href="../views/evento.html">Evento</a></li>
                            <li class="menuItem03 active"><a class="nav-link" href="../views/comu.html">Comuninades</a></li>
                            <li class="menuItem04"><a class="nav-link" href="../views/novedades.html">Novedades</a></li>
                            <li class="menuItem05"><a class="nav-link" href="../views/contacto.html">Contacto</a></li>
                        </ul>
                    </nav>
                

                </header>  

                <main id="grafiMin"></main>

        <div id="bkgGrafi">        
                
            <section id="graffitiComu01">   
                <div id="grafiTittle"><br>
                    <h3>Graffiti</h3>                    
                </div>
                
                <div id="grafisubTittle01">
                    <h2>T-KID 170</h2>
                </div>

                <div id="grafiText"><br>
                    <p>T-Kid170 es una leyenda viviente, referencia absoluta de la cultura grafitera. Criado en el Bronx, ha creado junto a sus compañeros del taller de pintura una auténtica forma de vida  marcada por la acción y la creación. Empieza poniendo su seudónimo en una pared del barrio, luego un fresco de un metro y después… ¡suerte y deseo! Y puede así abstraerse de todo el mundo para dar rienda suelta a su pasión. T-Kid habla por sí solo: 45 años de burners, wholecars, grafitis, frescos, murales.</p>
                </div>


                <div id="grafiImg01"><img src="../img/t01.png" alt=""></div>
               
                <div id="grafiImg02"><img src="../img/t02.png" alt=""></div>
                
                <div id="grafiImg03"><img src="../img/t03.png" alt=""></div>
               
                <div id="grafiImg04"><img src="../img/t04.png" alt=""></div>

                
            </section>

            

            <section id="videoKid">
                <div id="videoTkid"> 
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/ex5HdDE8zLE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </section>




            <section id="graffitiComu03">

                
                <div id="grafisubTittle02">
                    <h2>SHUCK2 - BOXEO Y GRAFFITI</h2>
                </div>

                <div id="grafiText02"><br><br>
                    <p>Shuck2 creció en Nanterre, en los suburbios que se encuentran al oeste de París. Este chico de barrio creció rodeado de la cultura hip hop que tanto marcó la década de los 80. En 1989, STRIVE pasó a ser SHUCK y luego definitivamente SHUCK TWO. Estrenó entonces la década de los 2000 con un cambio de estilo y expuso su obra en lugares prestigiosos: el Grand Palais, el Palais de Tokyo, el Palais de Chaillot, la galería Anna Nova de San Petersburgo, el Drouot Montaigne, el Hotel Rotschild.</p>
                </div>


                <div id="grafiImg017"><img src="../img/017.png" alt=""></div>
                <div id="grafiImg06"><img src="../img/t06.png" alt=""></div>
                <div id="grafiImg07"><img src="../img/t07.png" alt=""></div>
                <div id="grafiImg08"><img src="../img/t08.png" alt=""></div>

            </section>



        </div>

                <footer>    

                    <div id="posLogoFot">
                        <img src="../img/LOGO - POSCA.png" alt="">
                    </div>

                    <div id="footTitlePos01">
                        <p id="footTittle01"> Evento</p>
                    </div>

                    <div id="footTextPos01">
                        <p id="footText01"><a class="prueba" href="#">Workshop</a> <br><a class="prueba" href="#">Premios</a> <br><a class="prueba" href="#">Artistas invitados</a></p>
                    </div>

                    <div id="footTitlePos02">
                        <p id="footTittle02">Novedades</p>
                    </div>

                    <div id="footTextPos02">
                        <p id="footText02"><a class="prueba" href="#">Noticias</a> <br><a class="prueba" href="#">Tutoriales </a><br><a class="prueba" href="#">Tips</a></p>
                    </div>

                    <div id="footTitlePos03">
                        <p id="footTittle03">Contacto</p>
                    </div>

                    <div id="footTextPos03">
                        <p id="footText03"><a class="prueba" href="https://www.posca.com/arg/" target="_blank">www.posca.com </a><br><a class="prueba" href="#">info@posca.com</a> <br>4545-4545</p>
                    </div>


                    <div id="rrssiconpos">        
                        <ul class="social-network social-circle">
                        <li><a href="https://www.facebook.com/PoscaArg/" target="_blank" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://twitter.com/poscaargentina?lang=es" target="_blank" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://www.instagram.com/poscaargentina/?hl=es-la" target="_blank" class="icoInstagram" title="Instagram"><i class="fa fa-instagram"></i></a></li>
                        </ul>
              
                    </div>



                </footer>


    </div>






</body>
</html>