<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posca ~ Viví la experiencia</title>

    <link rel="icon" type="image" href="../img/favipos.png"/>


    <link rel="stylesheet" href="../assets/css/archivo.css" type="text/css">

    
    
	<!-- RRSS Footer -->

 
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">





    <!--googleFont-->

    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">


</head>




<body>

    <div id="contenedor">

                <header>

                    <div id="logo01"> <a href="../index.html">
                    <img src="../img/logo02.png" alt=""></a>
                    </div>


                    <nav>
                        <ul class="menu">
                            <li class="menuItem01"><a class="nav-link" href="../index.html">Home</a></li>
                            <li class="menuItem02"><a class="nav-link" href="../views/evento.html">Evento</a></li>
                            <li class="menuItem03"><a class="nav-link" href="../views/comu.html">Comuninades</a></li>
                            <li class="menuItem04 active"><a class="nav-link" href="../views/novedades.html">Novedades</a></li>
                            <li class="menuItem05"><a class="nav-link" href="../views/contacto.html">Contacto</a></li>
                        </ul>
                    </nav>
                

                </header>

    

                <main id="newsMin">


                   
                    


                </main>      

        <div id="bkgNews">        
                
            <section id="primeraNews">

                <div id="newsTittle01">
                    <h3> Novedades</h3>
                </div>

                <div id="newsSubTittle01">
                    <p>¡Llegaron los Posca pastel!</p>
                </div>

                <div id="newsText01">
                    <p>Los nuevos Posca Pastel son colores de cera, vivos y resistentes a la luz. </p>
                </div>

                <div id="newsText02">
                    <p> Se pueden utilizar en casi cualquier tipo de superficie: papel, vidrio, metal, plástico, madera o piedra. Los colores son muy 
                        diferentes a los colores pasteles al óleo existentes en el mercado. La fórmula de cera especial permite una amplia gama de expresión de color desde un toque ligero hasta una cobertura profunda, y se puede mezclar fácilmente con diferentes colores. También proporciona una sensación suave y sin pegajosidad. Los Posca Pastel os permiten un dibujo detallado con líneas nítidas.
                    </p>
                </div>

            
                <div id="newsImg00"><img src="../img/n01.png" alt=""></div>

                <div id="boton01News">
                    <button type="button" id="boton01">
                        <a href="#">Ver más</a>
                    </button>
                </div>




                <div id="newsTittle02">
                    <h3> Tutoriales</h3>
                </div>
                <div id="newsSubTittle01">
                    <p>¡Mandalas!</p>
                </div>
                <div id="newsText03">
                    <p> El mandala es un arte milenario que permite, por medio de un soporte gráfico, llegar a la meditación y a la concentración. No hace falta ser muy bueno dibujando para realizar un bonito mandala: solo se requiere un poco de paciencia y precisión. </p>
                </div>

                <div id="newsText04">
                    <p> Materiales <br> <br>

                        - 1 base circular de MDF <br>
                        - Acrílico negro <br>
                        - 1 pincel <br>
                        - Agua <br>
                        - Tus marcadores <b>Posca favoritos!</b></p>
                </div>

                <div id="boton02News">
                    <button type="button" id="b02">
                        <a href="#">Ver más</a>
                    </button>
                </div>


                <div id="newsImg01"><img src="../img/n02.png" alt=""></div>

            
            </section>

            <section id="videoTuto">
                <div id="videoPos"> 
                <iframe width="560" height="315" src="https://www.youtube.com/embed/CklijRqnyH0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </section>

            <section id="segundaNews">

                    <div id="newsTittle03">
                        <h3>#PoscaTips</h3>
                    </div>
                    <div id="newsSubTittle02">
                        <p>¡Mirá todos los efectos que podés lograr!</p>
                    </div>
                    <br>

                <div id="coluTips"> 

                    <div id="card01"> 
                            <h2>Acuarelable</h2>
                            <p>La pintura POSCA es acuarelable: se puede diluir para obtener un efecto degradado.
                                Antes del secado se debe trabajar con un cepillo previamente húmedo. <br> <br> </p>
                        <div id="newsImg02"><img src="../img/eff01.png" alt=""></div>


                        <div id="boton03News">
                        <button type="button" id="b01">
                            <a href="#">Ver más</a></div>
                        </button>

                    </div>

                    <div id="card02"> 
                            <h2>Miscible</h2>
                            <p>Mientras la pintura esté húmeda, se pueden mezclar los colores sobre el soporte con la punta o con un pincel y crear así infinitos tonos. <br> <br></p>
                        <div id="newsImg04"><img src="../img/eff02.png" alt=""></div>

                        <div id="boton04News">
                            <button type="button" id="b02">
                                <a href="#">Ver más</a>
                            </button>
                        </div>

                    </div>


                

                     <div id="card03"> 
                            <h2>Superponible</h2>
                            <p>La pintura POSCA, densa y cubriente, es ideal para las superposiciones. Los colores oscuros se pueden aplicar sobre colores claros y viceversa. <br> <br> </p>
                        <div id="newsImg05"><img src="../img/eff03.png" alt=""></div>

                        <div id="boton05News">
                            <button type="button" id="b03">
                                <a href="#">Ver más</a>
                            </button>
                        </div>

                     </div>
                </div>
                

            </section>




           

        </div>

                <footer>    

                    <div id="posLogoFot">
                        <img src="../img/LOGO - POSCA.png" alt="">
                    </div>

                    <div id="footTitlePos01">
                        <p id="footTittle01"> Evento</p>
                    </div>

                    <div id="footTextPos01">
                        <p id="footText01"><a class="prueba" href="#">Workshop</a> <br><a class="prueba" href="#">Premios</a> <br><a class="prueba" href="#">Artistas invitados</a></p>
                    </div>

                    <div id="footTitlePos02">
                        <p id="footTittle02">Novedades</p>
                    </div>

                    <div id="footTextPos02">
                        <p id="footText02"><a class="prueba" href="#">Noticias</a> <br><a class="prueba" href="#">Tutoriales </a><br><a class="prueba" href="#">Tips</a></p>
                    </div>

                    <div id="footTitlePos03">
                        <p id="footTittle03">Contacto</p>
                    </div>

                    <div id="footTextPos03">
                        <p id="footText03"><a class="prueba" href="https://www.posca.com/arg/" target="_blank">www.posca.com </a><br><a class="prueba" href="#">info@posca.com</a> <br>4545-4545</p>
                    </div>


                    <div id="rrssiconpos">        
                        <ul class="social-network social-circle">
                        <li><a href="https://www.facebook.com/PoscaArg/" target="_blank" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://twitter.com/poscaargentina?lang=es" target="_blank" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://www.instagram.com/poscaargentina/?hl=es-la" target="_blank" class="icoInstagram" title="Instagram"><i class="fa fa-instagram"></i></a></li>
                        </ul>
              
                    </div>



                </footer>


    </div>


</body>
</html>